.DS_Store
.git
.hg
.history
.pytest_cache
.svn
.vscode
Build
CVS
Configuration/Environment
Logs
Objects
Sandbox

*.dat
*.log

Configuration/General/Users

Documentations/Code/Main/DoxygenWarning.log

Scripts/OnSaveCPPSource.sh

Configuration/C_Cpp_default_compileCommands*
Project/.vscode
Project/.vs
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
Project/SourceArt/**/*.png
Project/SourceArt/**/*.tga
Project/Binaries/*
Project/Plugins/*/Binaries/*
Project/Build/*
!Project/Build/*/
Project/Build/*/**
!Project/Build/*/PakBlacklist*.txt
!Project/Build/**/*.ico
*_BuiltData.uasset
Project/Saved/*
Project/Intermediate/*
Project/Plugins/*/Intermediate/*
Project/DerivedDataCache/*
